*{
  box-sizing: border-box;
  float: left;

}
#fangtharInfo, #fangthar{
  width: 80px;
  height: 80px;
}

#healthInfo, #weaponInfo{
  width: 60px;
  height: 60px;
  float: left;
  margin-left: 10px;

}
#infosize p{
  font-size: 20px;
  padding: 10px;
}

#intro{
  background-color: black;
}
#gameScreen{
  background-image: url("../images/Path.png");
}

#map {
  width: 1120px;
  height: 1120px;


}
#map div{
  border: ;
  width: 40px;
  height: 40px;
  float:left;
}

#userInterface {
  background-color: black;
  height: 800px;
  width: 290px;

}
p {
  color: white;
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 40px;
}

#begin, #click {
  color: goldenRod;
  float: right;
}
#heroLog, li {
  font-size: 25px;
  text-align: center;
  width: 200px;
  height: 200px;
}

ul li {
  width: 200px;
  height: 100px;
  font-size: 30px;
  background-color: black;
  color: white;
  text-align: center;
  list-style-type: none;
  font-family: 'VT323', monospace;
}

#heroHealth {
  color: lightgreen;
  font-family: 'VT323', monospace;
}
#heroWeapon {
  color: gold;
  font-family: 'VT323', monospace;
}
#heroAttack {
  color: white;
  font-family: 'VT323', monospace;
}


#map div.path{
  background-repeat: no-repeat;
  background-image: url("../images/path.png");
  background-size: contain;
}
#map div.wall{
  background-repeat: no-repeat;
  background-image: url("../images/wall.png");
  background-size: contain;
}

#map div.player{
background-repeat: no-repeat;
background-image: url("../images/Hero sprite.png");
background-size: contain;
}
#map div.mob{
  background-repeat: no-repeat;
  background-image: url("../images/Monster2.png");
  background-size: contain;
}
#map div.monsterSkeleton{
  background-repeat: no-repeat;
  background-image: url("../images/monster_skeleton.png");
  background-size: contain;
}
#map div.weapon{
  background-repeat: no-repeat;
  background-image: url("../images/Weapon Chest.png");
  background-size: contain;
}
#map div.healthPot{
  background-repeat: no-repeat;
  background-image: url("../images/Health Potion.png");
  background-size: contain;}
#map div.boss{
  background-repeat: no-repeat;
  background-image: url("../images/Boss.png");
  background-size: contain;
}
