
*{
  box-sizing: border-box;
  float: left;
}
#map {
  width: 1120px;
  height: 1120px;

}
#map div{
  border: 1px solid black;
  width: 40px;
  height: 40px;
  float:left;
}

#userInterface {
  background-color: black;
  height: 800px;
  width: 290px;
}

ul li {
  width: 150px;
  height: 150px;
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
  list-style-type: none;
  font-family: 'VT323', monospace;
}

#heroHealth {
  color: lightgreen;
  font-family: 'VT323', monospace;
}
#heroWeapon {
  color: gold;
  font-family: 'VT323', monospace;
}
#heroAttack {
  color: white;
  font-family: 'VT323', monospace;
}


#map div.path{background-color: grey;}
#map div.wall{background-color: black;}
#map div.player{background-color: yellow;}
#map div.mob{background-color: red;}
#map div.weapon{background-color: gold;}
#map div.healthPot{background-color: lightgreen;}
#map div.boss{background-color: darkred;}
