
*{
  box-sizing: border-box;
}
#map {
  width: 1120px;
  height: 1120px;

}
#map div{
  border: 1px solid silver;
  width: 40px;
  height: 40px;
  float:left;
}

#map div.path{background-color: grey;}
#map div.wall{background-color: silver;}
#map div.player{background-color: yellow;}
#map div.mob{background-color: red;}
#map div.weapon{background-color: gold;}
#map div.health{background-color: lightgreen;}
#map div.boss{background-color: darkred;}
