
*{
  box-sizing: border-box;
  float: left;
  background-color: black;

}
#map {
  width: 1120px;
  height: 1120px;


}
#map div{
  border: ;
  width: 40px;
  height: 40px;
  float:left;
  background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Path.png")
}

#userInterface {
  background-color: black;
  height: 800px;
  width: 290px;
}

ul li {
  width: 150px;
  height: 150px;
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
  list-style-type: none;
  font-family: 'VT323', monospace;
}

#heroHealth {
  color: lightgreen;
  font-family: 'VT323', monospace;
}
#heroWeapon {
  color: gold;
  font-family: 'VT323', monospace;
}
#heroAttack {
  color: white;
  font-family: 'VT323', monospace;
}


#map div.path{
  background-color: ;
  background-repeat: no-repeat;
  background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Path.png");
  background-size:contain;
  background-color: ;
}
#map div.wall{
  background-color: ;
  background-repeat: no-repeat;
  background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Wall.png");
  background-size:contain;
  background-color: ;
}
#map div.player{
background-repeat: no-repeat;
background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Hero sprite.png");
background-size:contain;
background-color: ;
border-radius: 50%;
}
#map div.mob{
  background-color: ;
  background-repeat: no-repeat;
  background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Monster.png");
  background-size:contain;
}
#map div.weapon{
  background-repeat: no-repeat;
  background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Weapon Chest.png");
  background-color: ;
  background-size: contain;
}
#map div.healthPot{
  background-color: ;
  background-repeat: no-repeat;
  background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Health Potion.png");
  background-size: contain;}
#map div.boss{
  background-color: ;
  background-repeat: no-repeat;
  background-image: url("/Users/joshstorm/DEVELOPMENT/Project1_Game/images/Boss.png");
  background-size: contain;
  border-radius: 50%;
}
